/**
node-sass --watch public/sass/main.scss public/sass/main.css
  */

$color: #00FF68;
$color2: #1E232D;
@mixin positionSticky($top) {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: $top;
  z-index: 100;

}

body {
  background: url("/public/img/back.png") fixed;
  background-size: cover;
  color: darken($color, 70%);
}

nav {
  background: $color2;
  color: lighten($color, 70%);
  padding: 10px 20vw;
  @include positionSticky(0px);
  a{
    font-size: 1.5em;
    color: #00FF68;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid $color2;
    &:hover{
      color: #00FF68;
      background: $color2;
      text-decoration: none;
      border: 2px solid #00FF68;
    }
  }
}

.main {
  margin-top: 20px;
  background-color: $color2;
  min-height: 50vh;
  padding: 50px 70px;
  color: $color;
  .tag{
    display: inline-flex;
    margin: 2px 5px;
    background: darken($color, 10%);
    color: lighten($color, 90%);
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 2em;
    .nb{
      background: #FFF;
      color: black;
      border-radius: 5px;
      margin: auto 5px auto 10px;
      line-height: 22px;
      font-size: 0.8em;
      height: 25px;
      width: 25px;
      text-align: center;
    }
  }
}
.icons{
  background: $color2;
  color: $color;
  padding: 10px;
  font-size: 2.8em;
  border-radius: 5px;
  border: 2px solid $color;
  &:hover{
    background: $color;
    color: $color2;
  }

}
.myCard {
  width: 100%;
  height: 200px;
  background-size: contain;
  margin-bottom: 50px;
  border: 2px solid $color;
  background-color: #FFF;
  cursor: pointer;
  .content {
    width: 100%;
    height: 196px;
    padding: 10px;
    .tags{
      position: relative;
      top: -33px;
      text-align: center;
      height: 180px;
      overflow: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .push{
        height: 150px;
      }
      .tag{
        display: inline-flex;
        margin: 2px 5px;
        background: darken($color, 10%);
        color: lighten($color, 90%);
        padding: 5px 10px;
        border-radius: 5px;
        line-height: 2em;
        z-index: -10;
      }
    }

    .name {
      position: relative;
      color: $color2;
      background: lighten($color, 80%);
      padding: 5px 10px;
      border-radius: 5px;
      width: 90%;
      height: 34px;
      margin: auto;
      overflow: hidden;
      z-index: 10;
    }
    .desc {
      display: none;
      bottom: 50px;
      padding: 10px;
      min-height: 100px;
      max-height: 100px;
      width: 100%;
      text-align: justify;
      overflow: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .tools{
      position: absolute;
      bottom:0;
      width: 100%;
      display: none;
      margin: auto;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  &:hover {
    .content {
      background: rgba(255, 255, 255, 0.55) !important;
      .name {
        height: auto !important;
      }
      .desc {
        display: block;
      }
      .tags{
        display: none;
      }
      .tools{
        display: block;
      }
    }
  }
}
